// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$body-font-family: "quicksand" !important;
// $font-size-root: 20px;
@import "~vuetify/src/styles/styles.sass";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
